.review-section-title {
  border-bottom: 1px solid #ddd;
}

.review-form-notices {
  display: none;
  padding: 5px 10px;
  margin: 10px 0;

  &.error {
    background: red;
    border-left: 5px solid darkred;
    color: #fff;
  }

  &.success {
    background: forestgreen;
    color: #fff;
    border-left: 5px solid #000;
  }

  &.show {
    display: block;
  }
}

.review-form {
  .set-review {
    display: flex;
    align-items: center;

    label {
      margin-right: 5px;
    }

  }

  textarea {
    border-radius: 5px;
  }

  .set-review-stars {
    line-height: 1;

    i.dashicons-star-filled {
      color: #f6931f;
    }
  }

  margin-bottom: 30px;
}

.review-listing {
  margin-bottom: 20px;

  .review-listing-title {
    border-bottom: 1px solid rgba(#555, .5);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .single-review {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(#ddd, .5);
    margin-bottom: 10px;

    .reviewer-avatar {
      margin-right: 7px;
    }

    .reviewer-name {
      margin-right: 7px;
    }

    .reviewer-rating {
      margin-right: 15px;

      i {
        color: #f6931f;

        &.dashicons-star-empty:hover:before {
          content: '\f154';
        }
      }
    }

    .review-comments {
      width: 100%;
      margin-top: 10px;

      p {
        margin-bottom: 10px;
      }
    }
  }
}

.more-review {
  text-align: right;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(#555, .5);
}