.wp-radio-single {

  .wp-radio-header {
    .play-btn-wrap {
      .favorite-btn {
        margin-right: 10px;

        .dashicons {
          font-size: 2rem;
        }
      }
    }
  }

  .wp-radio-info {
    .report-btn {
      margin-left: auto;
      color: #555;
      background: #fdd;;
      border: 1px solid #ffb400;

      &:hover {
        background: darken(#fdd, 10%);
        border: 1px solid #f0ad4e;;
      }
    }
  }
}