.play-btn {
  .favorite-btn-wrap {
    margin-right: 15px;
  }
}

.favorite-btn-wrap {
  display: inline-flex;

  .favorite-btn {
    &.active {
      color: #f6931f !important;
    }
  }

}

.report-btn-wrap {
  display: inline-flex;
}

.wp-radio-info {
  .report-btn-wrap {
    margin-left: auto;

    button {
      display: inline-flex;
      align-items: center;
      cursor: pointer;;
      border: 1px solid #ddd;
      padding: 2px 5px;
      border-radius: 3px;
      line-height: 1;
      background: #ffdddd;
      font-size: 1rem;
      font-weight: normal;
      color: #333;

      &:hover {
        background: darken(#ffdddd, 5%);
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  @media (max-width: 767px) {
    .report-btn-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
    }
  }

}