.play-btn {
  .favorite-btn-wrap {
    margin-right: 15px;
  }
}

.favorite-btn-wrap {
  display: inline-flex;

  .favorite-btn {
    &.active {
      color: #f6931f !important;
    }
  }

}

.report-btn-wrap {
  display: inline-flex;
}

.wp-radio-info {
  .report-btn-wrap {
    margin-left: auto;

    button {
      display: inline-flex;
      align-items: center;
      cursor: pointer;;
      border: 1px solid #ddd;
      padding: 7px 10px;
      border-radius: 3px;
      line-height: 1;

      svg {
        margin-right: 5px;
      }
    }
  }
}